* {
	padding: 0;
	margin: 0;
}
body {
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
}
#nav-logo {
	font-family: 'Playfair Display', serif;
	font-style: normal;
	font-size: 45px;
	text-transform: uppercase;
	padding-left: 150px;
}
#navbarNav {
	padding-right: 150px;
}
.nav-tabs, .nav-tabs .active, .nav-tabs * {
	text-decoration: none;
	border: none;
	color: #333;
	font-family: 'Playfair Display', serif;
	font-size: 15px;
}
.nav-tabs *:hover {
	border:none;
}
section {
	text-align: center;
}
img {
	text-decoration: none;
	border: none;
}
#work img {
	padding: 10px;
}
#work .col {
	padding: 0px;
	margin: 0px;
}
